<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <script>
        function deleteProfile() {
            if (confirm('Ar tikrai norite ištrinti savo profilį?')) {
                fetch("{% url 'profile_view' %}", {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        window.location.href = "{% url 'index_view' %}";
                    } else {
                        alert('Klaida ištrinant profilį.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Klaida ištrinant profilį.');
                });
            }
        }
    </script>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <h1>Profile</h1>
    <p>{{ vartotojas.vartotojo_vardas }}</p>

    <form action="{% url 'vartotojo_skelbimai_view' %}" method="get" style="display:inline;">
        <input type="hidden" name="transakcija" value="pardavimai">
        <button type="submit">Mano pardavimai</button>
    </form>
    <form action="{% url 'vartotojo_skelbimai_view' %}" method="get" style="display:inline;">
        <input type="hidden" name="transakcija" value="pirkimai">
        <button type="submit">Mano pirkimai</button>
    </form>
    <form action="{% url 'update_profile_view' %}" method="get" style="display:inline;">
        <button type="submit">Redaguoti profilį</button>

    <button onclick="deleteProfile()">Ištrinti profilį</button>
</body>
</html>