<!DOCTYPE html>
<html>
<head>
    <title>Skelbimai</title>
</head>
<body>
    <h1>Filtrai</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Filtruoti</button>
    </form>
    <h2>Skelbimai</h2>
    {% if kategorija is not None %}
    <p>Kategorija: {{ kategorija.pavadinimas }}</p>
    {% endif %}
    <form action="{% url 'skelbimu_kategorijos_view' %}" method="get" style="display:inline;">
        <button type="submit">Naršyti kategorijas</button>
    </form>
    {% if user.is_authenticated %}
    <form action="{% url 'update_skelbimas_view' %}" method="get" style="display:inline;">
        <input type="hidden" name="kategorija" value="{{ kategorija.id }}">
        <button type="submit">Sukurti skelbimą</button>
    </form>
    {% endif %}
    <ul>
        {% for skelbimas in skelbimai %}
            <li>
                <a href="{% url 'konkretus_skelbimas_view' %}?skelbimas={{ skelbimas.id }}">{{ skelbimas.pavadinimas }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>