{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Valdyti skelbimų kategorijas</title>
    <link rel="stylesheet" href="{% static 'portalas/css/navbar.css' %}">
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <h1>Valdyti skelbimų kategorijas</h1>
    <p>Kategorija: {{ parent.pavadinimas }}/{{ kategorija.pavadinimas }}</p>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="kategorija" value="{{ kategorija.id }}">
        <input type="hidden" name="parent" value="{{ parent.id }}">
        {{ form.as_p }}
        <button type="submit">Išsaugoti</button>
    </form>
    <form action="{% url 'skelbimu_kategorijos_view' %}" method="get" style="display:inline;">
        <input type="hidden" name="parent" value="{{ parent.id }}">
        <button type="submit">Atšaukti</button>
    </form>
</html>